body {
	font-family: 'Asul', serif;
	background-image: url("../img/beige_tile.png");
  }
#map {height: 300px; width: 100%}

#header {
	height: 100vh;
	min-height: 30em;
	background-image: url('../img/Bettera_mobile.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	text-align: center;
	cursor: default;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.example-col-flat-1 {
	background-color: #fff;
	border-radius: 4px;
	opacity: 0.7;
}
.top {text-align:right;}
#header a {text-decoration: underline; color: #fff;}
#header .title {text-decoration: none; font-size: 3em;}
@media (min-width:600px) { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	#header {background-image: url('../img/Bettera_small.jpg');}
	#map {height: 600px; width: 100%}
	.showMobile {display: none;}
}
